./map_app/templates/map_app/US_Heatmap.html
./map_app/templates/map_app/US_Heatmap_original.html
./map_app/vis2_geodata_4_5_20.csv
map_app/vis2_geodata_4_5_20.csv
map_app/America_1.csv
map_app/America.csv
map_app/templates/map_app/US_Heatmap_original.html
map_app/templates/map_app/US_Heatmap.html
map_app/templates/map_app/USA.html
